.toggle_btn {
    background: #fff;
    width: 22%;
    height: 40px;
    border-radius: 20px;
}

.toggle_btn button {
    border: none;
    padding: 0 10px;
    background: rgb(242, 34, 131);
    color: #fff;
    border-radius: 20px;
    line-height: 38px;
}

.test_details {
    padding: 50px;
    background: linear-gradient(to bottom, #1f3d9d 0%, #f22283 100%);
}

.test_details .test_info span {
    text-transform: uppercase;
    border-left: 2px solid #fff;
    color: #fff;
    padding-left: 5px;
}

.test_details .test_info>.card {
    width: 50%;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    border: solid 1px #909090;
    border-radius: 20px;
    background: #fff;
    padding: 10px;
}

.test_details .test_info>.card>.card-body {
    background: #CAE2FA;
    border-radius: 20px;
}

.test_details .test_info>.card>.card-body>.card-title>.test_name>.question,
.test_details .test_info>.card>.card-body>.card-title>.test_code>.question,
.card_item>.card_item_text>.question,
.card_item>.card_item_text>.question>a {
    font-family: 'Roboto Bold';
    color: rgb(242, 34, 131);
}

.card_item>.card_item_text>.question>a:hover {
    color: #1f3d9d;
}

.card_item {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.card_item>.card_item_text>.answer,
.test_details .test_info>.card>.card-body>.card-title>.test_name>.answer,
.test_details .test_info>.card>.card-body>.card-title>.test_code>.answer {
    font-family: 'Roboto Bold';
    color: #000;
    font-size: 14px;
}

.card_item_button>button {
    background: #1f3d9d;
    color: #fff;
    letter-spacing: 1px !important;
}

.card_item_button>button:hover {
    background: #f22283;
}

i {
    color: #1f3d9d;
}

/* RESPONSIVE MEDIA QUERY  */

@media only screen and (max-width: 576px) {

    .test_details .test_info>.card {
        width: 100%;
    }

}

@media only screen and (max-width: 1400px) {

    .toggle_btn {
        background: #fff;
        width: 25%;
        height: 40px;
        border-radius: 20px;
    }

}

@media only screen and (max-width: 1210px) {

    .toggle_btn {
        background: #fff;
        width: 30%;
        height: 40px;
        border-radius: 20px;
    }

}

@media only screen and (max-width: 1030px) {

    .toggle_btn {
        background: #fff;
        width: 40%;
        height: 40px;
        border-radius: 20px;
    }

}