<!-- Top Header Starts -->
<header class="top_header d-flex align-items-center" [ngClass]="topHeader ? '' : 'top_header_search'">

    <div class="mobile_header" (click)="showMenu()" [ngClass]="mobileMenu ? '' : 'span_active'">
        <span></span>
    </div>

    <div class="header_logo">
        <img src="../../assets/images/logo.png" routerLink="/" alt="Moleque Diagnostics" />
    </div>

    <div class="search">
        <div class="search_input">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search for a Test, Health Package" name="testList"
                id="searchText" (focusout)="close()" (keyup)="sendData($event)">
            <button class="btn">Search</button>
            <p *ngIf="testlist.length <1 && hasQuery">Sorry Nothing Found </p>
        </div>

        <section *ngIf="testlist.length >1">
            <ng-template ngFor let-testlist [ngForOf]="testlist" let-i="index">
                <hr *ngIf="i > 0" />
                <a (click)="routeData(testlist)">{{testlist.testname}}</a>
            </ng-template>
        </section>
    </div>

    <div class="login_cart d-flex align-items-center justify-content-center">

        <div class="mobile_search" (click)="showMobileSearch()">
            <i class="fa fa-search"></i>
        </div>

        <div class="login" (click)="login()" *ngIf="!showLogout">
            <i class="bi bi-person-fill"></i>
        </div>

        <div class="login logout" (click)="login()" *ngIf="showLogout">
            <i class="bi bi-person-fill"></i>
        </div>

        <div class="cart" routerLink="/cart">
            <i class="bi bi-cart-fill"></i>
            <span *ngIf="cartCount?.length >= 1">{{itemCount}}</span>
        </div>
    </div>

    <div class="close_search" (click)="closeMobileSearch()">
        <i class="fa fa-times"></i>
    </div>
</header>
<!-- Top Header Ends -->

<!-- Navbar Starts -->
<header class="nav_header" [ngClass]="mobileMenu ? 'nav_header_hide' : 'nav_header_show'">
    <div class="container menu">
        <ul>
            <li routerLink="/">Home</li>
            <!-- <li>Features</li>
            <li class="dropdown">
                Services
                <div class="dropdown-content">
                    <a class="mt-4" routerLink="">Pathology Tests</a>
                    <a href="#">Radiology & Scan</a>
                    <a href="#">Consult A Doctor</a>
                </div>
            </li> -->
            <li>About Us</li>
            <li routerLink="/contact-us">Contact Us</li>
            <li>
                <a href="tel:+919955550855">
                    <span>Call Us :
                        <i class="bi bi-telephone-fill"></i>
                        +91-9955550855
                    </span>
                </a>
            </li>
        </ul>
    </div>
</header>

<!-- Navbar Ends -->

<div class="topgap"></div>