/* SOCIAL WIDGET STARTS  */

.social_widget>ul {
    position: fixed;
    top: 45%;
    left: 0;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 997;
}

.social_widget>ul>li:nth-child(1) {
    background: green;
}

.social_widget>ul>li:nth-child(2) {
    background: #1f3d9d;
}

.social_widget>ul>li>i {
    font-size: 30px;
    color: #fff;
    padding: 5px;
}

.social_widget>ul>li .whatsapp,
.social_widget>ul>li .phone {
    display: none;
}

.social_widget>ul>li>.iwhatsapp:hover>.whatsapp {
    display: inline;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 36px;
    background: green;
    padding: 10px;
    animation: 1s ease-out 0s 1 slideInLeft;
    text-decoration: none;
}

.social_widget>ul>li>.iphone:hover>.phone {
    display: inline;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 36px;
    width: 100px;
    background: #1f3d9d;
    padding: 10px;
    animation: 1s ease-out 0s 1 slideInLeft;
    text-decoration: none;
}

/* SOCIAL WIDGET ENDS  */

/* GET CALL STARTS */

.get_call {
    background: rgb(53, 80, 167);
    max-height: 108px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.get_call_hide {
    bottom: -108px;
}

.get_call>span {
    position: absolute;
    top: -28px;
    right: 0;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background: rgb(53, 80, 167);
    padding: 3px 10px;
    border-radius: 3px;
}

.get_call>span:hover {
    font-weight: bolder;
    background: #F22283;
}

.close_get_call::before {
    content: "GET A CALL";
}

.open_get_call::before {
    content: "CLOSE";
}

.get_call>.container>.get_call_text {
    font-size: 22px;
    font-family: 'roboto bold';
    color: #fff;
    text-align: center;
    margin: 10px 0px;
}

.get_call_input {
    position: relative;
    min-width: 450px;
    padding: 0px 0px 15px 0px;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.get_call_input input {
    height: 40px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.get_call_input input:focus {
    box-shadow: none;
    border: 3px solid #F22283;

}

.get_call_input .bi-phone-fill {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 21px;
    color: #F22283;
}

.get_call_input button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 145px;
    background: #F22283;
    color: #fff;
    letter-spacing: 1px;
    padding: 5px 2px;
    text-transform: none;
    border-radius: 0px 4px 4px 0px;
}

.get_call_input button:before {
    content: 'Get a free call';
}

.modal-header {
    background: #6887eb;
    padding: 5px 25px;
}

.modal-header .modal-title {
    color: #FFF;
    font-size: 15px;
}

.modal-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 5px;
}

.error {
    color: red;
}

/* GET CALL ENDS */

/* FOOTER STARTS  */

.footer {
    background-color: #0c1a4a;
    background-image: url(../../assets/images/png-shapes/footer.png);
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: left;
    position: relative;
    width: 100%;
    height: auto;
}

.footer>.footer_logo>img {
    width: 300px;
    height: auto;
    padding: 50px 0;
}

.footer .container div>h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 38px;
    font-family: BebasNeueBold;
    position: relative;
}

.footer .container div>h2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 62px;
    background-color: #F22283;
}

.footer .container div ul li i,
.footer .container div ul li a {
    color: #fff;
    font-size: 17px;
}

.footer .container div ul {
    padding-left: 0;
}

.footer .container div ul li a {
    margin-left: 12px;
}

.footer .container div ul li {
    padding-top: 20px;
}

.footer .container div ul li a:hover,
.footer .container>.contact .social_media>a>i:hover {
    color: #F22283;
}

.footer .container>.contact .social_media>a>i {
    font-size: 30px;
}

.footer .copyright {
    border-top: 1px solid #555f81;
    padding-bottom: 10px;
}

.footer .copyright>div {
    color: #555f81;
    padding-top: 10px;
}

.footer .copyright div:nth-child(2):hover,
.footer .copyright div:nth-child(3):hover,
.footer .copyright div:nth-child(4):hover {
    cursor: pointer;
    color: #fff;
}

.footer .copyright div:nth-child(1)::after,
.footer .copyright div:nth-child(2)::after,
.footer .copyright div:nth-child(3)::after {
    content: "|";
    padding: 0 7px;
}

/* FOOTER ENDS  */


/* ANIMATIONS STARTS  */

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* ANIMATION ENDS  */

/* Responsive */

@media only screen and (max-width:576px) {

    .footer {
        background-size: 100% auto;
        background-position: bottom;
    }

    .footer .copyright {
        padding: 0 10px 35px 10px;
        font-size: 15px;
        text-align: center;
    }

    .get_call>.container>.get_call_text {
        font-size: 16px;
        margin: 10px 0px;
    }

    .get_call_input {
        min-width: 300px;
    }

    .get_call_input input {
        text-indent: 20px;
    }

    .get_call_input input::placeholder {
        font-size: 14px;
    }

    .get_call_hide {
        bottom: -100px;
    }

    .get_call_input button {
        width: 50px;
    }

    .get_call_input button:before {
        content: url(../../assets/images/icons/phone.png);
        position: absolute;
        top: 15%;
        left: 27%;
        zoom: 0.4;
    }

    .footer .copyright div:nth-child(1)::after,
    .footer .copyright div:nth-child(2)::after,
    .footer .copyright div:nth-child(3)::after {
        content: "";
        padding: 0;
    }
}