<!-- SOCIAL WIDGET STARTS  -->

<div class="social_widget">
    <ul>
        <li>
            <i class="fa fa-whatsapp iwhatsapp" aria-hidden="true">
                <a class="whatsapp" href="https://wa.me/919955550855">Whatsapp</a>
            </i>
        </li>
        <li>
            <i class="fa fa-phone iphone" aria-hidden="true">
                <a class="phone" href="tel:+919955550855">Call Now</a>
            </i>
        </li>
    </ul>
</div>

<!-- SOCIAL WIDGET ENDS  -->

<!-- GET CALL STARTS  -->

<footer class="get_call" [ngClass]="open ? 'get_call_hide':'get_call'">
    <span class="close_get_call" (click)="toggleGetCall()"
        [ngClass]="toggler ? 'close_get_call':'open_get_call'"></span>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="get_call_text">
            Get a call back from our Health Advisor
        </div>
    </div>

    <div class="container d-flex align-items-center justify-content-center">
        <div class="get_call_input">
            <i class="bi bi-phone-fill"></i>
            <input type="tel" class="form-control" placeholder="Enter your 10 digit mobile number" name="getCall">
            <button class="btn"></button>
        </div>
    </div>
</footer>

<!-- GET CALL ENDS  -->


<!-- FOOTER STARTS  -->
<footer class="footer">

    <div class="footer_logo d-flex align-items-center justify-content-center">
        <img src="../../assets/images/logo.png" alt="footer-logo" />
    </div>

    <div class="container d-flex justify-content-around">
        <div class="row">

            <div class="contact col">
                <h2>Contacts</h2>
                <ul>
                    <li>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="tel:+919955550855">+91 995 555 0855</a>
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="mailto:care@moleque.ai">care@moleque.ai</a>
                    </li>
                    <li class="social_media">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram mx-3"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                </ul>
            </div>

            <div class="useful_links col">
                <h2>Useful Links</h2>
                <ul>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Book a test</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#about">Test by condition</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Search for radiology tests</a>
                    </li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Home collection query form</a>
                    </li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Mobile app</a></li>
                </ul>
            </div>

            <div class="company col">
                <h2>Company</h2>
                <ul>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">About us</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Our Departments</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Services</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="/contact-us">Contact Us</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">FAQ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="copyright d-flex align-items-center justify-content-center">
        <div>2022 &copy; MoleQue.ai</div>
        <div routerLink="/terms-conditions">Terms & Conditions</div>
        <div routerLink="/privacy-policy">Privacy Policy</div>
        <div routerLink="/statutory-compliance">Statutory Compliance</div>
    </div>
</footer>

<!-- FOOTER ENDS  -->