/* MAIN CAROUSEL  */

.main_carousel {
    position: relative;
}

.main_carousel .banner1,
.main_carousel .banner2,
.main_carousel .banner3,
.main_carousel .banner4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 570px;
}

.banner1 {
    background: url(../../assets/images/banner/banner1-1.webp);

}

.banner2 {
    background: url(../../assets/images/banner/banner1-2.webp);

}

.banner3 {
    background: url(../../assets/images/banner/banner1-3.webp);

}

.banner4 {
    background: url(../../assets/images/banner/banner1-4.webp);

}

.carousel_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #ffffff), to(transparent));
    background-image: linear-gradient(to left, #000000c2 20%, transparent);
}

/* CHECK REPORT  */

/*Clip*/
.clip, .circle {
    position: relative;
}

.clip:after, .clip:before, circle:after, .circle:before {
    display: block;
    position: absolute;
    content: "";
}

.clip:before {
    top: -15px;
    left: 85px;
    width: 136px;
    z-index: 51;
    border-bottom: solid 33px #FFF;
    border-radius: 50px 50px 0 0;
}

.clip:after {
    top: -22px;
    left: 76px;
    width: 154px;
    z-index: 46;
    border-bottom: solid 40px #1f3d9d;
    border-radius: 50px 50px 0 0;
}

.circle {
    position: absolute;
    z-index: 48;
    top: -54px;
    left: 128px;
    width: 51px;
    height: 51px;
    background: #1f3d9d;
    border-radius: 50%;
}

.circle::before {
    z-index: 60;
    top: 10px;
    left: 7px;
    width: 37px;
    height: 37px;
    background: #fff;
    border-radius: 50%;
}

/*End of Clip*/

.main_carousel .card {
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 1;
    max-width: 320px;
    border: 8px solid #1f3d9d;
    border-radius: 35px;
    background: transparent;
}

.main_carousel .card .hide_card {
    display: none;
}

.main_carousel .card .card-body {
    border: 8px solid #1f3d9d;
    border-radius: 30px;
    margin: 10px;
    background: #fff;
}

.main_carousel .card .card-title>h4 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #1f3d9d;
}

.captchabtn {
    background: #1f3d9d;
    border: none;
    color: #fff;
    padding: 0 10px;
    letter-spacing: 2px;
    border-radius: 4px;
    height: 30px;
}

.form-group input:focus {
    box-shadow: none;
    border: 1px solid #F22283;
}

.check_report {
    background: #F22283;
    border: none;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: 600;
}

.check_report:disabled {
    background-color: grey !important;
    cursor: not-allowed;
}

.mobile_report {
    display: none;
}

.error {
    color: red;
}

/* HOME COLLECTION SECTION STARTS  */

.home_collection {
    background: #EEEEEE;
}

.home_collection>.container>.card {
    width: 100%;
    height: auto;
    box-shadow: 0px 6px 7px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin: 20px 0;
}

.home_collection .container .card .card-title>h4 {
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #1f3d9d;
    padding: 10px 0;
}

.hc_item img {
    width: 100px;
    height: auto;
}

.hc_btn {
    background: #F22283;
    border: none;
    color: #fff;
    padding: 0 10px;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: 600;
}

.hc_btn:hover {
    background: #1f3d9d;
}

.hc_bottom {
    text-align: center;
    margin-top: 15px;
}

.hc_bottom>span {
    color: #1f3d9d;
    cursor: pointer;
}

.home_collection .container:nth-child(2) {
    margin-top: -25px;
}

.home_collection .container:nth-child(2) .card {
    width: 33%;
    min-height: 150px;

}

.home_collection .container:nth-child(2) .card:nth-child(1) {
    background-image: url(../../assets/images/icons/infertility.png);
    background-repeat: no-repeat;
    background-size: 155px auto;
    background-position-x: 30px;
}

.home_collection .container:nth-child(2) .card:nth-child(2) {
    background-image: url(../../assets/images/icons/diabetes.png);
    background-repeat: no-repeat;
    background-size: 426px auto;
    background-position: bottom;
    position: relative;
}

.home_collection .container:nth-child(2) .card:nth-child(3) {
    background-image: url(../../assets/images/icons/family.png);
    background-repeat: no-repeat;
    background-size: 230px auto;
    background-position: right;
}

.home_collection .container:nth-child(2) .card .card-body p {
    font-size: 25px;
    font-weight: 600;

}

.home_collection .container:nth-child(2) .card:nth-child(1) .card-body p {
    color: #1f3d9d;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.home_collection .container:nth-child(2) .card:nth-child(2) .card-body p {
    color: #F22283;
    position: absolute;
    top: 4%;
    left: 4%;
}

.home_collection .container:nth-child(2) .card:nth-child(3) .card-body p {
    color: #1f3d9d;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.blur_body {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

/* POPUP MODAL  */

.modal {
    --bs-modal-width: 100%;
}

.modal-header {
    background: #1f3d9d;
    padding: 5px 20px;
}

.modal-header .modal-title {
    color: #FFF;
    font-size: 20px;
}

.modal-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
}

.secure_login_form {
    padding-right: 30px;
}

.secure_login_form form .question input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #1f3d9d;
}

.secure_login_form form .question input:focus {
    box-shadow: none;
}

.secure_login_form form .question button,
.submit_otp {
    background: #F22283;
    color: #FFF;
    margin-top: 15px;
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: bold;
}

.secure_login_form form .question button:hover {
    background: #1f3d9d;
}

.secure_login_form form .otp input {
    width: 35px;
    height: 35px;
    margin: 15px 2px 5px 2px;
}

.resend_otp span {
    color: #1f3d9d;
    cursor: pointer;
}

.secure_login_info {
    padding-left: 30px;
}

.secure_login_info div:nth-child(1) {
    font-size: 10px;
    color: #929292;
}

.secure_login_info div:nth-child(2),
.secure_login_info div:nth-child(3),
.secure_login_info div:nth-child(4) {
    font-size: 12px;
}

.secure_login_info div i {
    color: #F22283;
}

.whatsapp_alert_bg {
    background: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
}

.whatsapp_alert img {
    width: 25px;
    height: auto;
}

/* Toggle BTN  */

.toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    background: #F22283;
    border-radius: 30px;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
}

.checkbox:checked+.toggle::after {
    left: 25px;
}

.checkbox:checked+.toggle {
    background: green;
}

.checkbox {
    display: none;
}

/* MODAL ENDS  */


/* HOME COLLECTION SECTION ENDS  */


/**************************************************/
/* .about */
/**************************************************/
.about {
    position: relative;
    padding: 40px 0;
}

.about__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.about__bg>.icon {
    position: absolute;
    right: -20px;
}

.about .container {
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about__our-misson {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 545px;
    flex: 0 0 545px;
    max-width: 545px;
    width: 100%;
    padding-left: 52px;
}

.about__our-misson-text {
    position: absolute;
    top: 337px;
    left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 325px;
    flex: 0 0 325px;
    max-width: 325px;
    width: 100%;
    padding: 47px 40px 46px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #1f3d9d;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 6;
}

.about__our-misson-text>.icon {
    padding-top: 2px;
    margin-left: 1px;
}

.about__our-misson-text>.title {
    text-transform: uppercase;
    font-family: "BebasNeueBold";
    font-size: 32.5px;
    font-weight: 700;
    margin-top: 12px;
    color: #ffffff;
    letter-spacing: 0px;
}

.about__our-misson-text>.text {
    font-size: 15.5px;
    margin-top: 6px;
    line-height: 1.5;
    color: #ffffff;
}

.about__our-misson-img {
    overflow: hidden;
    border-radius: 8px;
    max-height: 642px;
    max-width: 474px;
    z-index: 5;
    position: relative;
}

.about__our-misson-img img {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.about__our-misson-img:hover>img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.about__text {
    max-width: 620px;
    padding-top: 20px;
}

.about__text>h4 {
    padding-left: 1px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 6.5px;
    color: #333333;
}

.about__text .section-title {
    text-transform: uppercase;
    font-family: "BebasNeueBold";
    color: #f22283;
    font-size: 80px;
    line-height: 0.8;
    letter-spacing: -1.6px;
}

.about__text>h2 {
    margin-top: 30px;
    font-family: "Roboto Bold";
    font-size: 25px;
    line-height: 1.4;
    color: #333333;
}

.testcon_btn {
    margin-top: 50px;
}

.testcon_btn .card {
    width: 100%;
    height: 100px;
    position: relative;
    background: #F22283;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.testcon_btn .card:hover {
    background: #1f3d9d;
}

.testcon_btn .card .card-body {
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.testcon_btn .card .card-body img {
    width: 50px;
    height: auto;
    padding-left: 2px;
}

.testcon_btn .card .card-body span {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 7px;
}

/**************************************************/
/* .emergency-call */
/**************************************************/
.emergency-call {
    padding: 50px 0 30px 0;
    background-color: #f4f4f4;
}

.emergency-call .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.emergency-call .container .content h2 {
    text-align: center;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 20px;
}

.emergency-call__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.emergency-call__item {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emergency-call__item>.icon {
    min-width: 100px;
    height: 100px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1f3d9d;
    border: 9px solid #1f3d9d;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.5);
    box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.5);
}

.emergency-call__item>.icon:before {
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 118px;
    height: 118px;
    background-color: #1f3d9d;
    opacity: .4;
    z-index: -1;
}

.emergency-call__item:nth-child(1)>.icon img {
    width: 70px;
    margin-top: 10px;
}

.emergency-call__item:nth-child(2)>.icon img {
    width: 60px;
}

.emergency-call__item:nth-child(3)>.icon img {
    width: 55px;
    margin-top: -5px;
}

.emergency-call__item>.content {
    margin-top: 12px;
}

.emergency-call__item>.content p {
    letter-spacing: -0.3px;
    color: #333333;
    margin-top: 8px;
    line-height: 1.5;
    text-align: center;
}


/**************************************************/
/* animations */
/**************************************************/
@-webkit-keyframes bannerScale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

@keyframes bannerScale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

@-webkit-keyframes navbarShowAnimation {
    from {
        opacity: 0;
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes navbarShowAnimation {
    from {
        opacity: 0;
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes animatePinkShadow {
    from {
        -webkit-box-shadow: 0 0 0 0 rgba(242, 34, 131, 0.48);
        box-shadow: 0 0 0 0 rgba(242, 34, 131, 0.48);
    }

    to {
        -webkit-box-shadow: 8.135px 18.271px 51px 0px rgba(242, 34, 131, 0.48);
        box-shadow: 8.135px 18.271px 51px 0px rgba(242, 34, 131, 0.48);
    }
}

@keyframes animatePinkShadow {
    from {
        -webkit-box-shadow: 0 0 0 0 rgba(242, 34, 131, 0.48);
        box-shadow: 0 0 0 0 rgba(242, 34, 131, 0.48);
    }

    to {
        -webkit-box-shadow: 8.135px 18.271px 51px 0px rgba(242, 34, 131, 0.48);
        box-shadow: 8.135px 18.271px 51px 0px rgba(242, 34, 131, 0.48);
    }
}

@-webkit-keyframes animateBlueShadow {
    from {
        -webkit-box-shadow: 0 0 0 0 rgba(31, 61, 157, 0.48);
        box-shadow: 0 0 0 0 rgba(31, 61, 157, 0.48);
    }

    to {
        -webkit-box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.48);
        box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.48);
    }
}

@keyframes animateBlueShadow {
    from {
        -webkit-box-shadow: 0 0 0 0 rgba(31, 61, 157, 0.48);
        box-shadow: 0 0 0 0 rgba(31, 61, 157, 0.48);
    }

    to {
        -webkit-box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.48);
        box-shadow: 8.135px 18.271px 51px 0px rgba(31, 61, 157, 0.48);
    }
}

@-webkit-keyframes playBtn {
    50% {
        -webkit-box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);
        box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
        box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
    }
}

@keyframes playBtn {
    50% {
        -webkit-box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);
        box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
        box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
    }
}

@-webkit-keyframes faqsCardsItemShow {
    from {
        opacity: .7;
        margin-left: -100px;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        margin-left: 0px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes faqsCardsItemShow {
    from {
        opacity: .7;
        margin-left: -100px;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        margin-left: 0px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


}

/* @keyframes colorchange {
    50% {
        border-color: #F22283;
    }
} */


/**************************************************/
/* btn styles */
/**************************************************/
.btn {
    display: inline-block;
    font-family: "Roboto Bold";
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3.1px;
    display: inline-block;
    color: #ffffff;
    border-radius: 8px;
    text-transform: uppercase;
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn_pink,
.btn-2_pink {
    padding: 20px 26px 20px 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f22283;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
}

.btn_pink:hover,
.btn-2_pink:hover {
    color: #ffffff;
    background-color: #db106f;
}

.btn_blue {
    padding: 25px 37.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1f3d9d;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    position: relative;
}

.btn_blue:hover {
    background-color: #f22283;
    color: #ffffff;
}

.btn_blue:active {
    background-color: #db106f;
}

.btn-2 {
    width: 155px;
    border-radius: 8px;
    font-family: "Roboto Bold";
    font-size: 14px;
    padding: 12.5px 20px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    -webkit-box-shadow: 8px 18px 30px rgba(31, 61, 157, 0.2) !important;
    box-shadow: 8px 18px 30px rgba(31, 61, 157, 0.2) !important;
}

.btn-2_blue {
    color: #ffffff;
    background-color: #1f3d9d;
}

.btn-2_blue:hover {
    background-color: #f22283;
    -webkit-box-shadow: 8px 18px 30px rgba(242, 34, 131, 0.2) !important;
    box-shadow: 8px 18px 30px rgba(242, 34, 131, 0.2) !important;
    color: #ffffff;
}

.btn-2_pink {
    padding: 25px 40px;
    -webkit-box-shadow: 8px 18px 30px rgba(242, 34, 131, 0.2) !important;
    box-shadow: 8px 18px 30px rgba(242, 34, 131, 0.2) !important;
}

.btn-2>.fa {
    margin-left: 10px;
}

.btn-play {
    color: #1f3d9d;
    background-color: #ffffff;
    padding: 17px;
    border-radius: 50%;
    position: relative;
    -webkit-animation: playBtn 2s infinite linear;
    animation: playBtn 2s infinite linear;
    -webkit-box-shadow: 0px 0px 15px white;
    box-shadow: 0px 0px 15px white;
}

.btn-play:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: playBtn 2s infinite linear;
    animation: playBtn 2s infinite linear;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-box-shadow: 0px 0px 15px white !important;
    box-shadow: 0px 0px 15px white !important;
}

.btn-play:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 140%;
    height: 140%;
}

.btn-video {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
}

.btn-video-outer {
    width: 220px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 35px;
    background-color: #f22283;
    border: 2px solid transparent;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.btn-video-outer>.btn-video {
    font-size: 20px;
    line-height: 20px;
    font-family: "Roboto Bold";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.btn-video-outer>.btn-video>.btn-play {
    color: #f22283;
    margin: 0;
    margin-right: 25px;
    margin-left: -15px;
    padding: 20px;
}

.btn-video-outer:hover {
    border-color: #f22283;
    background-color: #ffffff;
}

.btn-video-outer:hover>.btn-video {
    color: #f22283;
}

.btn-video>.btn-play {
    margin-bottom: -10px;
    margin-right: 25px;
    color: #333333;
}

@media only screen and (max-width: 767.98px) {
    .btn {
        letter-spacing: 0;
    }

    .btn_pink-2,
    .btn_pink,
    .btn-2_pink {
        letter-spacing: 0;
        padding: 15px;
    }

    .btn_blue {
        letter-spacing: 0;
        padding: 20px;
    }
}

@media only screen and (max-width: 576px) {

    .main_carousel .card {
        margin-right: -500px;
        top: 50%;
    }

    .main_carousel .card .hide_card {
        display: block;
    }


    .main_carousel .card .hide_card i {
        position: absolute;
        top: 7%;
        right: 10%;
        font-size: 20px;
    }

    .show_report_card {
        margin-right: 10px !important;
        transition: all 1s;
    }

    .mobile_report {
        display: block !important;
        padding: 0 0 5px 0;
        background: #EEEEEE;
    }

    .mobile_report div div {
        border-radius: 5px;
        box-shadow: 1px 6px 7px 0px rgb(0 0 0 / 20%);
        padding: -1px 10px;
        cursor: pointer;
    }

    .clip:before {
        top: -14px;
    }

    .mobile_report i {
        color: #F22283;
        font-size: 40px;
    }

    .mobile_report p {
        color: #1f3d9d;
        font-weight: 600;
    }

    .main_carousel .banner1,
    .main_carousel .banner2,
    .main_carousel .banner3,
    .main_carousel .banner4 {
        min-height: 150px !important;
    }

    .home_collection {
        display: none;
    }

    /**************************************************/
    /* .about */
    /**************************************************/
    .about {
        padding: 20px 0;
    }

    .about__bg>.icon>svg {
        height: initial;
        width: 100%;
        max-width: 500px;
    }

    .about__our-misson {
        display: none;
    }

    .about__text {
        max-width: 100%;
    }

    .about__text h4 {
        text-align: center;
    }

    .about__text .section-title {
        font-size: 60px;
        text-align: center;
    }

    .testcon_btn {
        margin-top: 50px;
    }

    .testcon_btn .card {
        width: 100%;
        height: 70px;
        position: relative;
        background: #F22283;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .testcon_btn .card:hover {
        background: #1f3d9d;
    }

    .testcon_btn .card .card-body {
        padding: 0 !important;
        display: flex;
        align-items: center;
    }

    .testcon_btn .card .card-body img {
        width: 45px;
        height: auto;
        padding-left: 15px;
    }

    .testcon_btn .card .card-body span {
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 10px;
    }
}