.login .login_img img {
    width: 60vw;
    height: 100vh;
}

.login .login_item .login_item_top img {
    width: 300px;
    height: auto;
    background: #1f3d9d;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.login .card .card-body .login_item .toggle_btn button {
    background: #f22283;
    line-height: 20px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.login .card .card-body .login_item .login_item_form form h5,
.login .card .card-body .login_item .login_item_form .social_login label {
    color: #1f3d9d;
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0;
}

.login .login_item .login_item_top h4 {
    font-size: 20px;
    margin-top: 60px;
}

.login .login_item .login_item_top p {
    font-size: 13px;
}

.login .login_item {
    padding: 20px 100px;
}

.login .login_item .login_item_form {
    position: relative;
    padding: 10px 0 0 0;
}

.login .login_item .login_item_form #countryCode {
    position: absolute;
    top: 10px;
    left: 0;
    background: #1f3d9d;
    color: #fff;
    padding: 7px;
    border-radius: 5px 0 0 5px;
}

.login .card .card-body .login_item .login_item_form .form-check .form-check-input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.login .card .card-body .login_item .login_item_form .form-check .form-check-input:checked {
    background-color: #1f3d9d;
    border-color: #1f3d9d;
}

.login .card .card-body .login_item .login_item_form .form-check .form-check-label {
    color: #1f3d9d;
    font-size: 12px;
}

.login .login_item .login_item_form .login_buttons button {
    background: #f22283;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 2px;
}

.login_btn_otp{
    margin-bottom: 20px;
}

button:disabled {
    background-color: grey !important;
    cursor: not-allowed;
}

#forgotPswd.disabled {
    color: gray;
    cursor: not-allowed;
}

#forgotPswd{
    cursor: pointer;
    color: #466df0;
}

.login .login_item .login_item_form .login_buttons p {
    margin-bottom: 0;
}

#mobile {
    text-indent: 35px;
}

.error{
    color: red;
}

#forgotPswd,
#signUp {
    display: flex;
    justify-content: center;
}