.login {
    background: url(../../assets/images/banner/login-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login .login_item {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 50px;
    width: 30%;
    margin-right: 70px;
}

.login .login_item .login_item_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login .login_img img {
    height: 100vh;
    width: auto;
}

.login_img1 img {
    display: none;
}

.login .login_item .login_item_top #img {
    width: 300px;
    height: auto;
    background: #1f3d9d;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.login .card .card-body .login_item .toggle_btn button {
    background: #f22283;
    line-height: 20px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.login .card .card-body .login_item .login_item_form form h5,
.login .card .card-body .login_item .login_item_form .social_login label {
    color: #1f3d9d;
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0;
}

.login .login_item .login_item_top h4 {
    font-size: 20px;
    margin-top: 30px;
}

.login .login_item .login_item_top p {
    font-size: 13px;
}

.login .login_item .login_item_form {
    position: relative;
    padding: 10px 0 0 0;
}

.login .login_item .login_item_form #countryCode {
    position: absolute;
    top: 10px;
    left: 0;
    background: #1f3d9d;
    color: #fff;
    padding: 7px;
    border-radius: 5px 0 0 5px;
}

.login .card .card-body .login_item .login_item_form .form-check .form-check-input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.login .card .card-body .login_item .login_item_form .form-check .form-check-input:checked {
    background-color: #1f3d9d;
    border-color: #1f3d9d;
}

.login .card .card-body .login_item .login_item_form .form-check .form-check-label {
    color: #1f3d9d;
    font-size: 12px;
}

.login .login_item .login_item_form .login_buttons button {
    background: #f22283;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 2px;
}

.login_btn_otp {
    margin-bottom: 20px;
}

.login .login_item .login_item_form .login_buttons button:disabled {
    background-color: grey !important;
    cursor: not-allowed;
}

.passwordField i {
    position: absolute;
    right: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.btn {
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn button:disabled {
    color: gray !important;
    cursor: not-allowed !important;
}

#forgotPswd {
    cursor: pointer;
    border: none;
    color: #466df0;
    background: none;
}

.login .login_item .login_item_form .login_buttons p {
    margin-bottom: 0;
}

#mobile {
    text-indent: 35px;
}

.error {
    color: red;
}

/* Responsive */

@media screen and (max-width:576px) {

    .login .login_img img {
        display: none;
    }

    .login_img1 img {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .login .login_item {
        overflow: hidden;
        margin: 10px;
        padding: 10px;
    }

    .login .login_item .login_item_top h4 {
        margin-top: 10px;
        font-size: 17px;
    }

    .col {
        padding: 0 5px;
    }
}