<section class="login">
    <div class="d-flex align-items-center justify-content-between">

        <div class="login_img">
            <img src="../../assets/images/jpg/login.jpg" alt="Login / Sign Up">
        </div>

        <div class="login_item">
            <div class="login_item_top">
                <img src="../../assets/images/logo.png" alt="MoleQue Diagnostics">
                <h5>SIGN IN</h5>
                <h4>Get started with your health check now.</h4>
                <p>Already an existing User? Please Sign-in with your registered credentials.</p>
            </div>

            <div class="login_item_form">
                <form>
                    <div class="form-group">
                        <span>+91</span>
                        <input type="text" class="form-control" id="mobile" placeholder="10 digit mobile number">
                    </div>

                    <div class="form-group mt-3">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>


                    <div class="login_buttons mt-3">
                        <button type="button" routerLink="/dashboard" class="login_btn_1">LOGIN</button>
                        <p class="text-center my-2">or</p>
                        <button type="submit" class="login_btn_otp">LOGIN WITH OTP</button>
                    </div>

                </form>
            </div>

        </div>


    </div>
</section>