.tnc {
    margin-top: 125px;
    padding: 30px 10px;
    background: #EEEEEE;
}

.tnc .tnc_title h2 {
    color: #1f3d9d;
    text-align: center;
    font-family: BebasNeueBold;
    font-size: 40px;
}

.tnc .tnc_title h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    border-bottom: 3px solid #f22283;
}

.tnc .container h3 {
    font-family: BebasNeueBold;
    font-size: 27px;
    margin-top: 20px;
}

ul li {
    list-style-type: disc !important;
}

ol li {
    list-style-type: auto;
}

i {
    font-weight: bold;
    font-size: 18px;
}

/* Responsive */
@media screen and (max-width:750px) {
    .tnc {
        margin-top: 95px;
    }
}

@media screen and (max-width:500px) {
    .tnc {
        margin-top: 55px;
    }
}
