.social_widget>ul {
    position: fixed;
    top: 45%;
    left: 0;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 999;
}

.social_widget>ul>li:nth-child(1) {
    background: green;
}

.social_widget>ul>li:nth-child(2) {
    background: #1f3d9d;
}

.social_widget>ul>li>i {
    font-size: 30px;
    color: #fff;
    padding: 5px;
}

.social_widget>ul>li .whatsapp,
.social_widget>ul>li .phone {
    display: none;
}

.social_widget>ul>li>.iwhatsapp:hover>.whatsapp {
    display: inline;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 36px;
    background: green;
    padding: 10px;
    animation: 1s ease-out 0s 1 slideInLeft;
    text-decoration: none;
}

.social_widget>ul>li>.iphone:hover>.phone {
    display: inline;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 36px;
    width: 100px;
    background: #1f3d9d;
    padding: 10px;
    animation: 1s ease-out 0s 1 slideInLeft;
    text-decoration: none;
}



@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}