.cart {
    background: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 40px 0;
}

.cart .cart_items {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-radius: 5px;
    width: 90%;
    box-shadow: 0px 6px 7px 0px rgb(0 0 0 / 20%);
}

.cart .cart_items .items h6:nth-child(1) {
    color: #1f3d9d;
    cursor: pointer;
}

.cart .cart_items .items .table {
    box-shadow: 0px 6px 7px 0px rgb(0 0 0 / 20%);
    width: 45vw;
    min-height: 60px;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .cart_items .items>.table:nth-child(odd) {
    background: rgba(31, 61, 157, 0.25);
}

.cart .cart_items .items>.table:nth-child(even) {
    background: rgba(242, 34, 131, 0.25);
}

.code_name,
.price_remove {
    display: flex;
    align-items: center;
}

.code_name div:nth-child(1) {
    font-weight: bold;
}

.code_name div:nth-child(2) {
    max-width: 29vw;
    margin-left: 25px;
}

.price_remove div:nth-child(1) {
    padding: 0 15px;
    font-weight: bold;
}

.price_remove div:nth-child(2) {
    margin-left: 10px;
}

.cart .cart_items .items {
    position: relative;
}

.cart .cart_items .items .clear_btn {
    position: absolute;
    top: 15%;
    right: 0;
}

.cart .cart_items .items button,
.cart .cart_items .checkout button,
.empty_cart button,
.modal .modal-content .modal-body button,
.modal .buttons button {
    border: none;
    background: #f22283;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.cart .cart_items .items button:hover,
.cart .cart_items .checkout button:hover,
.empty_cart button:hover,
.modal .buttons button:hover {
    background: #1f3d9d;
}

.modal .buttons{
    display: flex;
    justify-content: flex-end;
}

.cart .cart_items .checkout {
    width: 40%;
}

.cart .cart_items .checkout button{
    float: right;
}

.payableAmount {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    box-sizing: border-box;
}

.payableAmount span {
    float: right;
}

.amount {
    font-weight: bold;
    font-size: 15px;
    background: rgba(31, 61, 157, 0.25);
    padding: 7px 15px;
}

.closeButton {
    position: absolute;
    right: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.reviewAmount {
    float: right;
}

.netAmount{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.blur_body {
    filter: blur(8px);
    -webkit-filter: blur(2px);
}

.modal-content {
    width: 40vw;
}

.modal .modal-header {
    display: flex;
    flex-direction: column;
}

.modal .modal-header img,
.card .card-body img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.card {
    margin: 10px;
    cursor: pointer;
}

.selected {
    border: 2px solid rgb(128, 228, 128);
    box-shadow: 0px 6px 7px 0px rgb(0 0 0 / 20%);
}

.card .card-body {
    display: flex;
    align-items: center;
}

.text {
    margin-left: 10px;
}

.cart .cart_items .checkout .book_for,
.cart .cart_items .checkout .collection_details {
    background: #1f3d9d;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.cart .cart_items .checkout {
    margin-top: 50px;
}

/* .cart .payment {
    background-color: #333333;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 6px 7px 0px rgb(0 0 0 / 20%);

} */

.empty_cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.empty_cart img {
    width: 36vw;
    height: auto;
    border-radius: 10px;
}

.empty_cart_text {
    display: grid;
}

.error{
    color: red;
}


@media only screen and (max-width: 576px) {

    .empty_cart {
        display: block;
    }

    .empty_cart img {
        width: 100%;
    }

    .empty_cart_text {
        margin-top: 30px;
    }

    .cart {
        padding: 5px 0 20px 0;
    }

    .cart .cart_items {
        display: block;
        padding: 10px;
        width: 100%;
    }

    .cart .cart_items .items .table {
        width: 100%;
        padding: 10px 20px;
    }

    .code_name div:nth-child(2) {
        max-width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .price_remove div:nth-child(1) {
        padding: 0;
    }

    .price_remove div:nth-child(2) {
        margin-top: 10px;
        font-size: 20px;
    }

    .code_name,
    .price_remove {
        display: block;
    }

    .cart .cart_items .items .clear_btn {
        justify-content: center;
        padding-bottom: 10px;
    }
}