<app-header></app-header>

<section class="stcomp">
    <div class="stcomp_title">
        <h2>Statutory Compliance</h2>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="question">Legal Entity :</div>
                <div class="answer">Technotrant Healthcare LLP</div>
                <div class="question">Registered Office :</div>
                <div class="answer">F-603, City Apartments, Aditya World City, NH-24, Ghaziabad, U.P-201002</div>
                <div class="question">Website :</div>
                <div class="answer">
                    <span><a href="moleque.ai">moleque.ai</a></span>
                    <span><a href="molequediagnostics.com">molequediagnostics.com</a></span>
                    <span><a href="technotrant.com">technotrant.com</a></span>
                </div>
                <div class="question">Name of the Proprietor / Director / Partners</div>
                <div class="answer">Dr. Neha Dwivedi, MD<br>(Designated Partner)</div>
                <div class="question">Phone / Mobile Number and E-mail ID of establishment / person in charge :</div>
                <div class="answer">
                    Mr. Bharat Bhushan , CEO<br>
                    <a href="mailto:bharat@technotrant.com">bharat@technotrant.com</a><br>
                    <b>Call Us : </b>
                    <a href="tel:+919955550855">+91-995-555-0855</a> |
                    <a href="tel:+911204172146">+91-120-417-2146</a><br>
                    <b>Email : </b>
                    <a href="mailto:healthcare@technotrant.com">healthcare@technotrant.com</a>
                </div>
                <div class="question">LLPIN :</div>
                <div class="answer">ABA-5282</div>
                <div class="question">#StartupIndia</div>
                <div class="answer border-0">DIPP96343</div>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>