<app-header></app-header>
<section class="test d-flex align-items-center justify-content-center">
    <div class="container">

        <div class="offer_carousel my-4">
            <owl-carousel-o [options]="offerOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/banner/offer1.jpg" alt="Offer1">
                </ng-template>

                <ng-template carouselSlide>
                    <img src="../../assets/images/banner/offer2.jpg" alt="Offer1">
                </ng-template>

                <ng-template carouselSlide>
                    <img src="../../assets/images/banner/offer1.jpg" alt="Offer1">
                </ng-template>

                <ng-template carouselSlide>
                    <img src="../../assets/images/banner/offer2.jpg" alt="Offer1">
                </ng-template>
            </owl-carousel-o>
        </div>

        <div class="tabs">
            <ul>
                <li id="allTest" [class.tab_selected]="id === 'allTest'" (click)="tabChange('allTest')">All Tests
                </li>
                <li id="packages" [class.tab_selected]="id === 'packages'" (click)="tabChange('packages')">Packages
                </li>
                <li id="prescription" [class.tab_selected]="id === 'prescription'" (click)="tabChange('prescription')">
                    Upload Prescription</li>

                <div *ngIf="id==='allTest'" class="sideDisplay">
                    <div class="search">
                        <div class="search_input">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search for a Test, Health Package"
                                name="testList" id="searchText" (keyup)="searchTest($event)">
                            <button class="btn">Search</button>
                        </div>
                    </div>
                    <span>Showing 1-50 of 101 results</span>
                    <!-- <div class="form-group">
                        <select class="form-select">
                            <option selected disabled hidden>Sort By...</option>
                            <option>Price:Low to High</option>
                            <option>Price:High to Low</option>
                            <option>Title:A to Z</option>
                            <option>Title:Z to A</option>
                        </select>
                    </div> -->

                </div>
            </ul>
        </div>

        <div class="tab_content">

            <div class="all_test row my-4" *ngIf="id === 'allTest'">
                <div class="card col-3" *ngFor="let list of testList">
                    <div class="card-body">
                        <h5 class="card-title" id="testName">{{list.testname | uppercase}}</h5>
                        <p class="card-text">No special preparation required</p>
                        <p class="card-text">26 Parameter(s) Covered</p>
                        <p class="card-text">Daily</p>
                        <a class="card-text" href="#">Download Sample Report</a>
                        <div class="test-price my-2">
                            <p class="card-text" id="price">₹ {{list.price}}</p>
                            <button (click)="openRequestPage(list)" class="knowMoreBtn">Know more...</button>
                        </div>
                        <div class="button">
                            <button class="btn" type="button" (click)="addToCart(list)"
                                [disabled]="canAddToCart[list._id]"><i
                                    class="bi bi-cart-fill mx-2"></i>{{canAddToCart[list._id]?'Added To Cart' :'Add
                                To
                                Cart'}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="packages" *ngIf="id === 'packages'">
                <div class="card my-4">
                    <div class="card-body">
                        <h6 class="package_name">Package 1</h6>
                        <p class="components">11 Tests included</p>
                        <hr>
                        <div class="mrp">₹600</div>
                        <div class="price">₹499</div>
                        <button type="button" class="btn mt-3">ADD TO CART</button>
                    </div>
                </div>
            </div>

            <div class="prescription my-4" *ngIf="id === 'prescription'">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="name" class="required">Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name">
                        </div>

                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="mobile" class="required">Mobile</label>
                            <input type="tel" class="form-control" placeholder="Enter Mobile">
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="email" class="required">Email</label>
                            <input type="tel" class="form-control" placeholder="Enter email">
                        </div>

                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="membergender" class="required">Gender</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="Male" name="memberGender"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        Male
                                    </label>
                                </div>

                                <div class="form-check ms-4">
                                    <input class="form-check-input" type="radio" value="Female" name="memberGender"
                                        id="flexRadioDefault2" >
                                    <label class="form-check-label" for="flexRadioDefault4">
                                        Female
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row my-4">
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="dob" class="required">Date Of Birth</label>
                                <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control"
                                    placeholder="MM/DD/YYYY" >
                            </div>

                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="dob" class="required">Upload Prescription</label>
                                <input type="file" class="form-control" >
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-5">
                            <button class="btn" type="submit">Submit</button>
                        </div>


                    </div>


                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>