<app-header></app-header>

<section class="container top_section d-flex justify-content-between">

    <div class="offer_carousel">

        <owl-carousel-o [options]="offerOptions">

            <ng-template carouselSlide>
                <img src="../../assets/images/banner/offer1.jpg" alt="Offer1">
            </ng-template>

            <ng-template carouselSlide>
                <img src="../../assets/images/banner/offer2.jpg" alt="Offer1">

            </ng-template>

            <ng-template carouselSlide>
                <img src="../../assets/images/banner/offer1.jpg" alt="Offer1">
            </ng-template>

            <ng-template carouselSlide>
                <img src="../../assets/images/banner/offer2.jpg" alt="Offer1">

            </ng-template>






        </owl-carousel-o>
    </div>

    <div class="prescription d-flex align-items-center justify-content-center">
        <img src="../../assets/images/icons/report.png" alt="Prescription">
        <div class="px-3">Upload Prescription<br>to place an order</div>
        <button type="button">UPLOAD</button>
    </div>

</section>

<section class="packages">
    <div class="container d-block">
        <h5>Top Packages</h5>
        <div class="card">
            <div class="card-body">
                <h6 class="package_name">Package 1</h6>
                <p class="components">11 Tests included</p>
                <hr>
                <div class="mrp">₹600</div>
                <div class="price">₹499</div>
                <button type="button" class="mt-3">ADD TO CART</button>
            </div>
        </div>
    </div>
</section>




<section class="packages d-block container">
    <h5>Top Tests</h5>

    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide *ngFor="let list of testList">
            <div class="card">
                <div class="card-body">
                    <h6 class="package_name">{{ (list.testname.length>6)? (list.testname |
                        slice:0:15)+'..':(list.testname) }}</h6>
                    <p class="components">11 Tests included</p>
                    <hr>
                    <div class="mrp">₹600</div>
                    <div class="price">₹ {{list.price}}</div>
                    <button type="button" class="mt-3" (click)="addToCart(list)"
                        [disabled]="canAddToCart[list._id]">{{canAddToCart[list._id]?'Added To Cart' : 'Add To
                        Cart'}} </button>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>





</section>
<app-footer></app-footer>