.contact_us {
    background: rgba(31, 61, 157, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 20px 0;
}

.contact_us .container {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0 200px;
    border-radius: 10px;
    width: auto;
}

.contact_us .container .full_details {
    background: #1f3d9d;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    width: 40%;
}

.contact_us .container .full_details h3 {
    color: #fff;
    font-family: 'BebasNeueBold';
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
}

.contact_us .container .full_details .contact_detail {
    display: flex;
    justify-content: flex-start;
    color: #fff;
}

.contact_us .container .full_details .contact_detail div i {
    font-size: 25px;
}

.contact_us .container .full_details .contact_detail div ul {
    padding: 0;
    margin: 0;
}

.contact_us .container .full_details .contact_detail div ul li:nth-child(odd) {
    font-weight: bold;
    font-size: 20px;
}

.contact_us .container .full_details h3::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
    border-bottom: 3px solid #f22283;
}

.contact_us .container .full_details .social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}

.contact_us .container .full_details .social_media a {
    color: #fff;
}

.contact_us .container .full_details .social_media a:hover {
    color: #f22283;
}

.contact_form {
    height: min-content;
    padding: 30px;
}

.form_title {
    color: #1f3d9d;
    font-family: 'BebasNeueBold';
    font-size: 35px;
}

form button {
    background: #1f3d9d;
    color: #fff;
    padding: 5px 50px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    font-family: 'BebasNeueBold';
    letter-spacing: 3px;
    font-size: 25px;
    line-height: 35px;
}

.error {
    font-size: 13px;
    color: red;
}

/* Responsive */
@media screen and (max-width:800px) and (min-width:601px) {

    .contact_us .top_div .contact_details {
        top: 22%;
    }

    .contact_us .top_div .contact_details h2 {
        font-size: 40px;
    }
}

@media screen and (max-width:600px) and (min-width:501px) {

    .contact_us .top_div .contact_details {
        top: 22%;
    }

    .contact_us .top_div .contact_details h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:500px) {

    .contact_us .container .full_details h3 {
        font-size: 35px;
    }

    .contact_us .container .full_details .answer1 {
        margin-left: 20px;
    }
}

@media screen and (max-width:321px) {

    .contact_us .container .full_details h3 {
        font-size: 30px;
    }
}