<app-header></app-header>

<section class="contact_us" [ngClass]="blur_bg ? 'blur_body' : ''">

    <div class="container">

        <div class="full_details">
            <h3>MoleQue.ai<span>&#8482;</span> C/O<br>Technotrant Healthcare LLP</h3>

            <div class="contact_detail mt-4 mb-2">
                <div><i class="bi bi-geo-alt-fill"></i></div>
                <div class="ms-4">304, RPS, Sheikh Sarai, Phase-1, New Delhi-110017</div>
                <div class="ms-4">F-603, City Apartments, Aditya World City, Ghaziabad-201002</div>
            </div>
            <div class="contact_detail">
                <div><i class="bi bi-telephone-fill"></i></div>
                <div class="ms-4">+91-995-555-0855</div>
            </div>
            <div class="contact_detail mt-2">
                <div><i class=" bi bi-envelope-fill"></i></div>
                <div class="ms-4">
                    <ul>
                        <li>Customer Support</li>
                        <li>care@moleque.ai</li>
                        <li class="mt-2">Corporate Tie-ups</li>
                        <li>healthcare@technotrant.com</li>
                        <li class="mt-2">Become a Franchisee Partner</li>
                        <li>healthcare@technotrant.com</li>
                        <li class="mt-2">Career</li>
                        <li>careers@technotrant.com</li>

                    </ul>
                </div>
            </div>
            <div class="social_media">
                <a href="https://www.facebook.com/ai.moleque"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram mx-3"></i></a>
                <a href="https://www.linkedin.com/showcase/moleque-ai"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-youtube ms-3"></i></a>
            </div>
        </div>

        <div class="contact_form">
            <form [formGroup]="queryForm" (ngSubmit)="submitForm()">
                <div class="form_title">For any query fill the form below.</div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control mt-4" placeholder="Name" formControlName="name"
                        [ngClass]="{'is-invalid': submitted && (queryForm.controls['name'].errors)}">
                    <div class="error" *ngIf="submitted && queryForm.controls['name'].errors">
                        Please provide valid name</div>
                </div>
                <div class=" form-group mb-4">
                    <input type="email" class="form-control" placeholder="Email Address" formControlName="email"
                        [ngClass]="{'is-invalid': submitted && (queryForm.controls['email'].errors)}">

                    <div class="error" *ngIf="submitted && queryForm.controls['email'].errors">
                        Please provide valid email address</div>

                    <!-- <div class="error" *ngIf="submitted && queryForm.controls['email'].errors?.['email']">
                        Email address is not
                        in the correct format, try
                        something like 'you@yours.com'</div> -->
                </div>
                <div class="form-group mb-4">
                    <input type="tel" class="form-control" placeholder="Mobile Number" formControlName="number"
                        minlength="10" maxlength="10" (keypress)="keyPress($event)"
                        [ngClass]="{'is-invalid': submitted && (queryForm.controls['number'].errors)}">
                    <div class="error" *ngIf="submitted && queryForm.controls['number'].errors">
                        Please provide valid mobile number</div>
                </div>
                <div class="form-group mb-4">
                    <select name="roles" id="roles" class="form-control" formControlName="option"
                        [ngClass]="{'is-invalid': submitted && (queryForm.controls['option'].errors)}">
                        <option selected disabled value="">--Please choose an option--</option>
                        <option value="career">Career</option>
                        <option value="feedback">Feedback</option>
                        <option value="marketing">Marketing</option>
                        <option value="compliance">Compliance</option>
                        <option value="others">Others</option>
                    </select>
                    <div class="error" *ngIf="submitted && queryForm.controls['option'].errors">
                        Please choose an option</div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="4" formControlName="message"
                        [ngClass]="{'is-invalid': submitted && queryForm.controls['message'].errors}"></textarea>
                    <div class="error" *ngIf="submitted && queryForm.controls['message'].errors">
                        Type Message Here...</div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <button type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>

</section>

<div class="modal align-items-center justify-content-center" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Thank you for contacting us. One of our representatives will get in touch
                    with you shortly regarding your query.</h6>
                <button type="button" (click)="closePopup()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>