.login .login_img img {
    width: 60vw;
    height: 100vh;
}

.login .login_item .login_item_top #img {
    width: 300px;
    height: auto;
    background: #1f3d9d;
    padding: 7px;
    border-radius: 5px;
}

.login .login_item .login_item_top h5 {
    margin-top: 20px;
    color: #1f3d9d;
    font-size: 17px;
    font-weight: 600;
}

.login .login_item .login_item_top h4 {
    font-size: 26px;
    margin-top: 60px;
}

.login .login_item .login_item_top p {
    font-size: 13px;
}

.login .login_item {
    padding: 20px 100px;
}

.login .login_item .login_item_form {
    position: relative;
    padding: 10px 0 0 0;
}

.login .login_item .login_item_form #countryCode {
    position: absolute;
    top: 10px;
    left: 0;
    background: #1f3d9d;
    color: #fff;
    padding: 7px;
    border-radius: 5px 0 0 5px;
}

.login .login_item .login_item_form .login_buttons button {
    background: #f22283;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

button:disabled{
    background-color: grey !important;
    cursor: not-allowed;
}

.login .login_item .login_item_form .login_buttons p {
    margin-bottom: 0;
}

#mobile {
    text-indent: 35px;
}

.error{
    color: red;
}

/* Responsive */

@media screen and (max-width:576px) {

    .login .login_img img {
        display: none;
    }

    .login_img1 img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    .login .login_item {
        overflow: hidden;
        margin: 10px;
        padding: 10px;
    } 

    .login .login_item .login_item_top h4 {
        margin-top: 10px;
        font-size: 17px;
    }

    .col{
        padding: 0 3px;
    }
}