<app-header></app-header>

<div class="container testDetail">
    <div class="row">
        <div class="col">
            <div class="card" *ngFor="let list of testList">
                <div class="card-body">
                    <h5 class="card-title" id="testName">{{list.testname | uppercase}}</h5>
                    <p class="card-text">No special preparation required</p>
                    <p class="card-text">26 Parameter(s) Covered</p>
                    <p class="card-text">Daily</p>
                    <a class="card-text" href="#">Download Sample Report</a>
                    <p class="card-text" id="price">₹ {{list.price}}</p>
                    <button (click)="openRequestPage(list)" class="knowMoreBtn">Know more...</button>
                    <button class="btn" type="button" (click)="addToCart(list)"
                        [disabled]="canAddToCart[list._id]">{{canAddToCart[list._id]?'Added To Cart' : 'Add To
                        Cart'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>