<app-header></app-header>

<section class="profile d-flex align-items-center justify-content-center">

    <div class="container">

        <div class="tabs">
            <ul>
                <li id="profile" [class.tab_selected]="id === 'profile'" (click)="tabChange('profile')">My Profile</li>
                <li id="address" [class.tab_selected]="id === 'address'" (click)="tabChange('address')">My Address</li>
                <li id="family" [class.tab_selected]="id === 'family'" (click)="tabChange('family')">Family Members</li>

            </ul>
        </div>

        <div class="tab_content">

            <div class="my_profile" *ngIf="id === 'profile'">

                <div class="d-flex align-items-center justify-content-evenly mb-5">
                    <img src="../../assets/images/icons/avatar.png" alt="Avatar">
                    <div class="user_name">Hi, {{userDetail?.firstName? (userDetail?.firstName | titlecase) :'Guest'}}
                    </div>
                </div>

                <p *ngIf="showAlert" class="alert alert-primary">Profile Update Successfully.</p>

                <form [formGroup]="profileForm" (ngSubmit)="register('address')">
                    <div class="row my-4">
                        <div class="form-group col-sm-6 col-xs-12 space">
                            <label for="firstname" class="required">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control name"
                                placeholder="Enter First name">
                            <div class="error"
                                *ngIf="profileForm.controls['firstName']?.invalid && profileForm.controls['firstName'].touched ">
                                Please provide valid first name</div>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="lastname" class="required">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control name"
                                placeholder="Enter Last name">
                            <div class="error"
                                *ngIf="profileForm.controls['lastName']?.invalid && profileForm.controls['lastName'].touched ">
                                Please provide valid last name</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6 col-xs-12 space">
                            <label for="email" class="required">Email</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="Enter email">
                            <div class="error"
                                *ngIf="profileForm.controls['email']?.invalid && profileForm.controls['email'].touched ">
                                Please provide valid email address</div>

                            <div class="error"
                                *ngIf="profileForm.controls['email'].touched && profileForm.controls['email'].errors?.['email']">
                                Email address is not
                                in the correct format, try
                                something like 'you@yours.com'</div>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="mobile" class="required">Mobile</label>
                            <input type="tel" formControlName="number" class="form-control" placeholder="Enter Mobile"
                                (keypress)="keyPress($event)" maxlength="10" minlength="10">
                            <div class="error"
                                *ngIf="profileForm.controls['number']?.invalid && profileForm.controls['number'].touched ">
                                Please provide valid mobile number</div>
                        </div>
                    </div>

                    <div class="row my-4">

                        <div class="form-group col-sm-6 col-xs-12 space">
                            <label for="gender" class="required">Gender</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="Male" id="flexRadioDefault1"
                                        formControlName="gender">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check ms-4">
                                    <input class="form-check-input" type="radio" value="Female" id="flexRadioDefault2"
                                        formControlName="gender">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Female
                                    </label>
                                </div>
                            </div>
                            <div class="error"
                                *ngIf="profileForm.controls['gender']?.invalid && profileForm.controls['gender'].touched ">
                                Please select gender</div>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="dob" class="required">Date Of Birth</label>
                            <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control"
                                placeholder="MM/DD/YYYY" formControlName="DOB">
                            <div class="error"
                                *ngIf="profileForm.controls['DOB']?.invalid && profileForm.controls['DOB'].touched ">
                                Please provide valid date of Birth</div>
                        </div>
                    </div>

                    <div class="row" *ngIf="!click">
                        <div class="form-group col-sm-6 col-xs-12 space passwordField">
                            <label for="password" class="required">Password</label>
                            <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                                class="form-control" placeholder="Enter Password">
                            <i id="togglePassword" [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                                aria-hidden="true" (click)="password()"></i>
                            <div class="error"
                                *ngIf="profileForm.controls['password']?.invalid && profileForm.controls['password'].touched ">
                                Password should have minimum 6 characters, at least 1 number)</div>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12 passwordField">
                            <label for="confirm_password" class="required">Confirm Password</label>
                            <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirm_password"
                                class="form-control" placeholder="Re-enter Password">
                            <i id="togglePassword" [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                                aria-hidden="true" (click)="ConfirmPassword()"></i>
                            <div class="error"
                                *ngIf="profileForm.controls['confirm_password']?.invalid && profileForm.controls['confirm_password'].touched ">
                                Password should have minimum 6 characters, at least 1 number)</div>
                        </div>
                        <span class="error" *ngIf="passwordError">Those passwords didn’t match. Try again</span>
                    </div><br>


                    <div class="row">
                        <div class="col-12" *ngIf="!click">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="acceptCheckbox">
                                <label class="form-check-label required" id="checkTerms" for="flexCheckDefault">
                                    Accept Terms & Conditons
                                </label>
                            </div>
                            <div class="error"
                                *ngIf="profileForm.controls['acceptCheckbox'].invalid && profileForm.controls['acceptCheckbox'].touched">
                                Please accept Terms & Conditions</div>
                        </div><br><br>
                        <div class="col-12">
                            <button type="button" routerLink="/dashboard" class="me-3">Cancel</button>
                            <button type="submit" class="ms-3" [disabled]="profileForm.invalid">{{!Id ? 'Register' :
                                'Update'}}</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="address" *ngIf="id === 'address'">
                <div class="card" *ngFor="let add of address; let i =index" (click)="showAddressForm('a_form',add,i)">
                    <div class="card-body">
                        <h5 class="card-title">{{add.addressLine1}}</h5>
                        <p class="card-text">{{add.addressLine2}}</p>
                        <p class="card-text">{{add.city}}</p>
                        <p class="card-text">{{add.state}}</p>
                        <p class="card-text">{{add.pinCode}}</p>
                        <i class="fa fa-trash" (click)="deleteAddress(i,$event); getUserDetail()"
                            aria-hidden="true"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <p id="a_form" (click)="toggleForm('a_form')" *ngIf="!show">+ Add New Address</p>
                    <button (click)="tabChange('family')">Skip <i class="fa fa-angle-double-right"></i></button>
                </div>
                <div class="address_form" *ngIf="open === 'a_form'">
                    <i class="fa fa-times" (click)="hideForm()" aria-hidden="true"></i>
                    <form [formGroup]="addressForm" (ngSubmit)="addAddress('family')">
                        <div class="row my-4">
                            <div class="form-group col">
                                <label for="AddressLine1" class="required">Address Line 1</label>
                                <input type="text" class="form-control" formControlName="addressLine1"
                                    placeholder="Address Line 1">
                                <div class="error"
                                    *ngIf="addressForm.controls['addressLine1'].invalid && addressForm.controls['addressLine1'].touched ">
                                    Please provide valid address</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label for="AddressLine2" class="required">Address Line 2</label>
                                <input type="text" class="form-control" formControlName="addressLine2"
                                    placeholder="Address Line 2">
                                <div class="error"
                                    *ngIf="addressForm.controls['addressLine2'].invalid && addressForm.controls['addressLine2'].touched ">
                                    Please provide valid address</div>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="form-group col-sm-6 col-xs-12 space">
                                <label for="city" class="required">City</label>
                                <input type="text" class="form-control" formControlName="city" placeholder="City">
                                <div class="error"
                                    *ngIf="addressForm.controls['city'].invalid && addressForm.controls['city'].touched ">
                                    Please provide valid city</div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="state" class="required">State</label>
                                <input type="text" class="form-control" formControlName="state" placeholder="State">
                                <div class="error"
                                    *ngIf="addressForm.controls['state'].invalid && addressForm.controls['state'].touched ">
                                    Please provide valid state</div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="form-group col-sm-6 col-xs-12 space">
                                <label for="pincode" class="required">PIN Code</label>
                                <input type="tel" class="form-control" minlength="6" maxlength="6"
                                    formControlName="pinCode" (keypress)="keyPress($event)" placeholder="PIN Code">
                                <div class="error"
                                    *ngIf="addressForm.controls['pinCode'].invalid && addressForm.controls['pinCode'].touched ">
                                    Please provide valid pinCode</div>
                            </div>

                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="landmark">Nearby Landmark</label>
                                <input type="text" class="form-control" formControlName="landmark"
                                    placeholder="Nearby Landmark (optional)">
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-center mt-5">
                            <button type="submit" *ngIf="!show" [disabled]="addressForm.invalid">Add Address</button>
                            <button type="button" (click)="updateAddress(); getUserDetail()" *ngIf="show">Update
                                Address</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="family" *ngIf="id === 'family'">
                <div class="card" *ngFor="let member of familyMember; let i =index"
                    (click)="showFamilyMemberForm('f_form',member,i)">
                    <div class="card-body">
                        <img src="../../assets/images/icons/avatar.png" alt="Avatar">
                        <h5 class="card-title">{{member.memberFirstName | titlecase}}</h5>
                        <p class="card-text">{{member.relation}}</p>
                        <p class="card-text">{{member.memberGender}}</p>
                        <p class="card-text">{{member.memberDOB | date}}</p>
                        <i class="fa fa-trash" (click)="deleteFamilyMember(i,$event)" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <p id="f_form" (click)="toggleForm('f_form')" *ngIf="!show">+ Add New Family Member</p>
                    <button routerLink="/dashboard">Skip <i class="fa fa-angle-double-right"></i></button>
                </div>
                <div class="family_form" *ngIf="open === 'f_form'">
                    <i class="fa fa-times" (click)="hideForm()" aria-hidden="true"></i>
                    <form [formGroup]="familyMemberForm" (ngSubmit)="addMember()">
                        <div class="row my-4">
                            <div class="form-group col-sm-6 col-xs-12 space">
                                <label for="memberfirstname" class="required">First Name</label>
                                <input type="text" class="form-control name" formControlName="memberFirstName"
                                    placeholder="Enter First name">
                                <div class="error"
                                    *ngIf="familyMemberForm.controls['memberFirstName'].invalid && familyMemberForm.controls['memberFirstName'].touched ">
                                    Please provide valid first name</div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="memberlastname" class="required">Last Name</label>
                                <input type="text" class="form-control name" formControlName="memberLastName"
                                    placeholder="Enter Last name">
                                <div class="error"
                                    *ngIf="familyMemberForm.controls['memberLastName'].invalid && familyMemberForm.controls['memberLastName'].touched ">
                                    Please provide valid last name</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12 space">
                                <label for="relation" class="required">Relation</label>
                                <select class="form-select" formControlName="relation"
                                    aria-label="Default select example">
                                    <option selected disabled value="">Please Choose Relation</option>
                                    <option value="Spouse">Spouse</option>
                                    <option value="Daughter">Daughter</option>
                                    <option value="Son">Son</option>
                                    <option value="Father">Father</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Family">Family</option>
                                </select>
                                <div class="error"
                                    *ngIf="familyMemberForm.controls['relation'].invalid && familyMemberForm.controls['relation'].touched ">
                                    Please select relation</div>
                            </div>

                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="relativemobile" class="required">Mobile</label>
                                <input type="tel" class="form-control" formControlName="memberMobile"
                                    placeholder="Enter Mobile" (keypress)="keyPress($event)" maxlength="10"
                                    minlength="10">
                                <div class="error"
                                    *ngIf="familyMemberForm.controls['memberMobile'].invalid && familyMemberForm.controls['memberMobile'].touched ">
                                    Please provide valid mobile number</div>
                            </div>
                        </div>

                        <div class="row my-4 ">
                            <div class="form-group col-sm-6 col-xs-12 space">
                                <label for="membergender" class="required">Gender</label>
                                <div class="d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="Male" id="flexRadioDefault1"
                                            formControlName="memberGender">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Male
                                        </label>
                                    </div>
                                    <div class="form-check ms-4">
                                        <input class="form-check-input" type="radio" value="Female"
                                            id="flexRadioDefault2" formControlName="memberGender">
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            Female
                                        </label>
                                    </div>
                                </div>
                                <div class="error"
                                    *ngIf="familyMemberForm.controls['memberGender'].invalid && familyMemberForm.controls['memberGender'].touched ">
                                    Please select gender</div>
                            </div>

                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="dob" class="required">Date Of Birth</label>
                                <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control"
                                    placeholder="MM/DD/YYYY" formControlName="memberDOB">
                                <div class="error"
                                    *ngIf="familyMemberForm.controls['memberDOB'].invalid && familyMemberForm.controls['memberDOB'].touched ">
                                    Please provide valid date of birth</div>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mt-5">
                                <button type="submit" *ngIf="!show" [disabled]="familyMemberForm.invalid">Add
                                    Member</button>
                                <button type="button" (click)="updateMember()" *ngIf="show">Update Member</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</section>

<app-footer></app-footer>