<app-header></app-header>

<section class="dashboard">

    <div class="dashboard_title">
        <h3>My Dashboard</h3>
    </div>

    <div class="container mt-5 d-flex align-items-center justify-content-around">

        <div class="card edit_info">
            <div class="card-body">
                <div class="info_avtar">M</div>
                <div class="info_name">{{userDetail?.firstName}}</div>
                <div class="info_email">{{userDetail?.email}}</div>
                <div class="info_number">+91 {{userDetail?.number}}</div>
                <button type="button" (click)="editInfo($event)">EDIT INFO</button>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/sample-tube.png" alt="calender">
                <p>Book A Test Now</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/prescription.png" alt="calender">
                <p>Upload Prescription</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/friends.png" alt="calender">
                <p>Book For Relative</p>
            </div>
        </div>

    </div>


    <div class="container mt-5 d-flex align-items-center justify-content-around">

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/karma.png" alt="calender">
                <p>Sushruta - The AI</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/dna.png" alt="calender">
                <p>My Gene</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/calendar.png" alt="calender">
                <p>My Appointments</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/report.png" alt="calender">
                <p>My Reports</p>
            </div>
        </div>

    </div>


    <div class="container mt-5 d-flex align-items-center justify-content-around">

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/myfamily.png" alt="calender">
                <p>My Family</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/subscription.png" alt="calender">
                <p>Subscriptions</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/nutritionist.png" alt="calender">
                <p>Diet Planner</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/satisfaction.png" alt="calender">
                <p>Help & Feedback</p>
            </div>
        </div>





    </div>

</section>

<app-footer></app-footer>