<app-header></app-header>

<section class="dashboard">

    <div class="dashboard_title">
        <h3>My Dashboard</h3>
    </div>

    <div class="container mt-5 d-flex align-items-center justify-content-around">

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/karma.png" alt="calender">
                <p>Health Karma</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/subscription.png" alt="calender">
                <p>My Subscription</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/calendar.png" alt="calender">
                <p>My Bookings</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/report.png" alt="calender">
                <p>My Reports</p>
            </div>
        </div>

    </div>
    <div class="container mt-5 d-flex align-items-center justify-content-around">

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/myfamily.png" alt="calender">
                <p>My Family</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/location.png" alt="calender">
                <p>Manage Address</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/satisfaction.png" alt="calender">
                <p>Help & Feedback</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="../../assets/images/icons/megaphone.png" alt="calender">
                <p>Refer & Earn</p>
            </div>
        </div>



    </div>

</section>

<app-footer></app-footer>