<section class="login">
    <div class="d-flex align-items-center justify-content-between">

        <div class="login_img">
            <img src="../../assets/images/jpg/login.jpg" alt="Forgot Password">
        </div>

        <div class="login_item">
            <div class="login_item_top">
                <img id="img" src="../../assets/images/logo.png" alt="MoleQue Diagnostics">
                <h4 >Get started with your health check now.</h4>
                <div class="login_img1">
                    <img src="../../assets/images/jpg/login.jpg" alt="Login / Sign Up">
                </div>
                <h5 *ngIf="!show">Forgot Password</h5>
                <h5 *ngIf="show">OTP verification</h5>
                <p *ngIf="show">Please check the OTP sent to {{number}}</p>
            </div>

            <p class="alert alert-danger" *ngIf="showError">Invaild Credientials</p>

            <div class="form-group" *ngIf="show">
                <input type="tel" class="form-control" id="numberField" [value]="number" readonly>
            </div>

            <div class="login_item_form">
                <form [formGroup]="mobileNumber" (ngSubmit)="verify()">
                    <div class="form-group" *ngIf="!show">
                        <span>+91</span>
                        <input type="tel" class="form-control"  formControlName="number" id="mobile"
                            placeholder="10 digit mobile number">
                    </div>
                    <div class="login_buttons mt-3">
                        <button type="submit" *ngIf="!show" class="login_btn_1"
                            [disabled]="mobileNumber.invalid">Verify</button>
                    </div>
                </form>

                <div class="form-group" *ngIf="show">
                        <form [formGroup]="otp" (ngSubmit)="submit(otpCode1,otpCode2,otpCode3,otpCode4,otpCode5,otpCode6)">
                        <div class="row">
                            <div class="col">
                                <input type="tel" class="form-control" formControlName="otpCode" #otpCode1 maxlength="1"
                                    (keyup)="move($event,'',otpCode1,otpCode2)">
                            </div>
                            <div class="col">
                                <input type="tel" class="form-control" formControlName="otpCode" #otpCode2 maxlength="1"
                                    (keyup)="move($event,otpCode1,otpCode2,otpCode3)">
                            </div>
                            <div class="col">
                                <input type="tel" class="form-control" formControlName="otpCode" #otpCode3 maxlength="1"
                                    (keyup)="move($event,otpCode2,otpCode3,otpCode4)">
                            </div>
                            <div class="col">
                                <input type="tel" class="form-control" formControlName="otpCode" #otpCode4 maxlength="1"
                                    (keyup)="move($event,otpCode3,otpCode4,otpCode5)">
                            </div>
                            <div class="col">
                                <input type="tel" class="form-control" formControlName="otpCode" #otpCode5 maxlength="1"
                                    (keyup)="move($event,otpCode4,otpCode5,otpCode6)">
                            </div>
                            <div class="col">
                                <input type="tel" class="form-control" formControlName="otpCode" #otpCode6 maxlength="1"
                                    (keyup)="move($event,otpCode5,otpCode6,'')">
                            </div>
                        </div>

                        
                        <div class="form-group mt-3" *ngIf="show">
                            <input type="password" class="form-control" formControlName="newPassword" id="newPassword"
                            placeholder="Enter New Password">
                        </div>
                        
                        <div class="login_buttons mt-3">
                            <button type="submit" *ngIf="show" [disabled]="otp.invalid" class="login_btn_1">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>